<div class="panel">
  <div class="ui segments">
    <div class="ui segment">
      <h1>Intro</h1>
    </div>
    <div class="ui secondary segment">
      <h3>欢迎使用 xTrans 帮助您建立更快速的连接。</h3>
      <p>本站目前处于开发测试阶段，功能尚未完善，
      如果您在使用过程中遇到任何问题或建议，请随时向我们反馈，非常感谢！
      </p>
      <p><i class="rocket icon"></i>xTrans 通过BGP线路转发帮助您提高SSH，VPN等链接稳定性，显著改善丢包卡顿等问题。</p>
      <p><i class="world icon"></i>xTraceroute 通过服务器执行traceroute测试线路质量</p>
    </div>
  </div>
</div>
