<div class="panel">
  <div class="ui segments">
    <div class="ui segment">
      <p>xTrans Point</p>
    </div>
    <div class="ui secondary segment">
      <p>Secondary Content</p>
    </div>
  </div>
</div>
