<div class="ui grid">
  <div class="column header-image centered row">
    <div class="header-title">
      <h1>xTrans</h1>
      <small>为您优化全球网络转发</small>
      <% if notice %>
        <p><small><%= notice %></small></p>
      <% end %>
    </div>
  </div>

  <div class="column centered row">
    <div class="flow">
      <i class="user icon"></i>
      <i class="exchange icon"></i>
      <i class="cloud icon"></i>
      <i class="exchange icon"></i>
      <i class="server icon"></i>
      <h1>BGP节点双向转发用户与目标 稳定数据传输</h1>
      <h3>有效解决SSH操作、私有网络连接等，延迟卡顿问题</h3>
    </div>
  </div>

  <div class="column centered footer row">
    <div class="footer">
        <div class="ui three column very relaxed grid">
          <div class="column">
            <h1>Proudly</h1>
            <p><%= image_tag "Do_logo2.png", class: 'proudly-logo' %></p>
          </div>
          <div class="ui vertical divider"><i class="plus icon"></i> </div>
          <div class="column">
            <h1>Privacy</h1>
            <p>我们非常注重您的隐私安全，您的密码已被bcrypt安全的加密</p>
          </div>
          <div class="ui vertical divider"><i class="heart icon"></i> </div>
          <div class="column">
            <h1>Feedback</h1>
            <p>如果您遇到任何问题或建议，我们期待您的<a href="/feedback">反馈</a></p>
          </div>
        </div>
    </div>
  </div>
</div>
