<div class="ui modal tunnel-help">
  <i class="close icon"></i>
  <div class="header">
    xTrans 建立说明
  </div>
  <div class="content">
    <h3>欢迎使用 xTrans 帮助您建立更快速的连接。</h3>
    <p>本站目前处于开发测试阶段，功能尚未完善，
    如果您在使用过程中遇到什么问题或建议，请随时向我们反馈，非常感谢！
    </p>
    <div class="ui vertical steps tunnel-steps-help">
      <div class="step">
        <i class="rocket icon"></i>
        <div class="content">
          <div class="title">创建通道</div>
          <div class="description">通过点击蓝色 xTrans 按钮弹出创建表单</div>
        </div>
      </div>
      <div class="step">
        <i class="edit icon"></i>
        <div class="content">
          <div class="title">填写信息</div>
          <div class="description">选择一个入口节点，并填写您要加速的目标IP与端口</div>
        </div>
      </div>
      <div class="completed step">
        <i class="checkmark icon"></i>
        <div class="content">
          <div class="title">开始使用</div>
          <div class="description">刷新页面后若节点名称为绿色，
          您就可以通过节点为您提供的域名与端口重新链接您的SSH或其他服务</div>
        </div>
      </div>
    </div>
  </div>
</div>
