<div class="panel">
  <div class="ui segments">
    <div class="ui segment">
      <p>xTraceroute</p>
    </div>
    <div class="ui secondary segment">
      <h1><i class="settings icon"></i>工事中</h1>
    </div>
  </div>
</div>
