<div class="nav">
  <div class="ui fluid labeled icon three item menu">
    <a class="item">
      <i class="rocket icon"></i>
      xTrans
    </a>
    <a class="item">
      <i class="world icon"></i>
      xTraceroute
    </a>
    <a class="item">
      <i class="game icon"></i>
      How to use
    </a>
  </div>
</div>
